APP_ENVIRONMENT=dev|prod
SECRET_KEY='secure-key'
POSTGRES_DB=dbname
POSTGRES_USER=dbuser
POSTGRES_PASSWORD=dbpassword
POSTGRES_HOST=default_localhost
POSTGRES_PORT=default_5432

EMAIL_HOST_USER="email_support"
EMAIL_HOST_PASSWORD="email-strong-password"
DEFAULT_FROM_EMAIL="email-default-from"

DOMAIN=domain.name

REDIS_HOST=default_localhost
REDIS_PORT=default_6379
