{% load i18n %}
<div class="m-portlet__head">
    <div class="m-portlet__head-progress">

        <!-- here can place a progress bar-->
    </div>
    <div class="m-portlet__head-wrapper">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                {% block portlet_icon %}
                    <span class="m-portlet__head-icon">
                        {% if scenario == 'edit' %}
                            <i class="flaticon-edit-1"></i>

                        {% else %}
                            <i class="flaticon-plus"></i>

                        {% endif %}
                    </span>
                {% endblock %}

            
                <h3 class="m-portlet__head-text">
                    {{ title }}
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            {% block tools %}
                <button onclick="window.history.go(-1); return false;" class="btn btn-secondary m-btn m-btn--icon m-btn--wide m-btn--md m--margin-right-10">
                    <span>
                        <i class="la la-arrow-left"></i>
                        <span>{% trans 'Back' %}</span>
                    </span>
                </button>
                <div class="btn-group">
                    {#  check that form id is the same  #}
                    <button form="m_form" type="submit" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air">
                        <span>
                            <i class="la la-check"></i>
                            <span>{% trans 'Save' %}</span>
                        </span>
                    </button>
                </div>
            {% endblock %}

        </div>
    </div>
</div>