{% load static %}
<div class="kt-header__topbar">

	<!--begin: Search -->
{#	<div class="kt-header__topbar-item kt-header__topbar-item--search">#}
{#		<div class="kt-header__topbar-wrapper">#}
{#			<div class="kt-quick-search kt-quick-search--inline kt-quick-search--result-compact" id="kt_quick_search_inline">#}
{#				<form method="get" class="kt-quick-search__form">#}
{#					<div class="input-group">#}
{#						<div class="input-group-prepend"><span class="input-group-text"><i class="flaticon2-search-1"></i></span></div>#}
{#						<input type="text" class="form-control kt-quick-search__input" placeholder="Search...">#}
{#						<div class="input-group-append"><span class="input-group-text"><i class="la la-close kt-quick-search__close" style="display: none;"></i></span></div>#}
{#					</div>#}
{#				</form>#}
{#				<div id="kt_quick_search_toggle" data-toggle="dropdown" data-offset="0px,10px"></div>#}
{#				<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-lg">#}
{#					<div class="kt-quick-search__wrapper kt-scroll" data-scroll="true" data-height="300" data-mobile-height="200">#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}

	<!--end: Search -->

    <!--begin: Language bar -->
    {% include 'dashboard/header/language_bar.html' %}
	<!--end: Language bar -->


	<!--begin: User bar -->
    {% include 'dashboard/header/top_header_user_profile.html' %}

	<!--end: User bar -->

	<!--begin: Quick panel toggler -->
    {#	<div class="kt-header__topbar-item kt-header__topbar-item--quickpanel" data-toggle="kt-tooltip" title="Quick panel" data-placement="top">#}
    {#		<div class="kt-header__topbar-wrapper">#}
    {#			<span class="kt-header__topbar-icon" id="kt_quick_panel_toggler_btn"><i class="flaticon2-cube-1"></i></span>#}
    {#		</div>#}
    {#	</div>#}

	<!--end: Quick panel toggler -->
</div>
