{% load i18n %}
<button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
<div class="kt-header-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_header_menu_wrapper">
    <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout- ">
        <ul class="kt-menu__nav ">
            <li class="kt-menu__item  kt-menu__item--active " aria-haspopup="true"><a href="{% url 'dashboard' %}"
                class="kt-menu__link "><span class="kt-menu__link-text">{% trans 'Panel' %}</span></a></li>
        </ul>
    </div>
</div>
