.dual-listbox{
    width: 100%; !important;

}
.dual-listbox__buttons{
    margin: 0 !important;
}
.dual-listbox__selected, .dual-listbox__available{
    width: 100% !important;
}
.selected-container, .available-container{
    padding-left: 0;
    padding-right: 0;

}
.dual-listbox__search{
    width: auto !important;
    max-width: unset !important;

}
@media only screen and (max-width: 769px){
    .selected-container, .available-container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .dual-listbox__search{
        margin-left: 15px;
        margin-right: 15px;
    }
}